body {
    overflow: hidden auto;
}

.wrapper {
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.player{
    margin: 0 8% 0 8%;
    width: 360px;
}

.player ul {
    padding-left: 10px;
    list-style: none;
}

.blackcard {
    color: black;
}

.redcard {
    color: red;
}

.player li {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    height: 140px;
    display: inline-block;
}


.player .topleft {
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 0.8rem;
    transform: none;
}

.player .bottomright {
    position: absolute;
    top: 96%;
    left: 96%;
    font-size: 0.8rem;
    transform: translate(-100%, -100%);
}

li p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 3.5rem;
    margin: 0 auto;
}

#winner {
    width: 100%;
}

.switched {
    transform:rotate(-180deg);
}



.left {
    float:left;
}

.right {
    float:right;
}
